@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bn-container[data-theming-css-variables-demo][data-color-scheme] {
  --bn-colors-editor-text: #222222;
  --bn-colors-editor-background: #ffeeee;
  --bn-colors-menu-text: #ffffff;
  --bn-colors-menu-background: #1f1f1f;
  --bn-colors-tooltip-text: #0c0c0c;
  --bn-colors-tooltip-background: #ffffffe3;
  --bn-colors-hovered-text: #ffffff;
  --bn-colors-hovered-background: #414141;
  --bn-colors-selected-text: #ff5e00;
  --bn-colors-selected-background: #c500bb00;
  --bn-colors-disabled-text: #f5f5f5c0;
  --bn-colors-disabled-background: #222222;
  /* --bn-colors-shadow: #640000; */
  /* --bn-colors-border: #870000; */
  --bn-colors-side-menu: #bababa;
  --bn-color-highlight-colors: #ffffff;
  --bn-border-radius: 12px;
  --bn-font-family: GeistSans;
}

/* Changes for dark mode */
.bn-container[data-theming-css-variables-demo][data-color-scheme='dark'] {
  --bn-colors-editor-text: #e9e9e9;
  --bn-colors-editor-background: #0c0c0c;
  --bn-colors-side-menu: #a8a8a843;
}

.folder {
  width: 200px;
  height: 150px;
  position: relative;
}

.folder-top {
  width: 35%;
  height: 22px;
  background-color: #f7eee3;
  border-top-left-radius: 10px;
  /* border-top-right-radius: 10px; */
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  color: #0c0c0c;
}
.folder-top::after {
  content: '';
  position: absolute;
  background-color: #f7eee3;
  top: 0;
  right: -20px;
  width: 20px;
  height: 22px;
  z-index: 1;
  clip-path: polygon(0% 0%, 0% 101%, 100% 101%, 50% 0%);
}

.folder-body {
  width: 100%;
  height: 70%;
  background-color: #f7eee3;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  position: relative;
}

.folderContainer::-webkit-scrollbar {
  display: none;
}

